@charset "utf-8";

*{margin:0; padding:0;}
li{list-style-type:none;}
li img{vertical-align:top;}
img,fieldset{border:0;}
table{border-collapse:collapse;}
table,th,td{border:1px solid #000;}
a{color:#666; text-decoration:none;}

address, em{font-style:normal;}